<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Payment</title>
  <style>
    * {
      font-size: 24px;
    }
    .header {
      height: 150px;
      background-color:  #efebe9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 50px;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .text-1 {
      margin-left: 10px;
      font-size: 40px;
      color: rgb(35, 185, 35);
      font-weight: 750;
    }
    .logo > img, button, .return :hover {
      cursor: pointer;
    }
    .size-img-1 {
      height: 80px;
      width: 80px;
    }
    .size-img-2 {
      height: 50px;
      width: 50px;
    }
    .content {
      background-color: rgb(241 241 241 / 57%);
      height: calc(100vh - 150px);
      padding: 10px;
      padding-top: 70px;
      display: flex;
      flex-direction: column;
    }
    .content > div {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .disabled, input[type="radio"] {
        color: rgb(175, 175, 175);
        font-size: 20px;
    }
    label {
        display: inline-block;
        margin: 10px 0px;
    }
    input[type="text"] {
        width: 450px;
        height: 45px;
    }
    button {
      align-self: center;
      width: fit-content;
      padding: 10px 20px;
      margin-top: 20px;
      background-color: green;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <img class="size-img-1" src="images/logo.png" alt="logo">
        <div class="name-app text-1">EcoBike</div>
        <div class="text-1">|</div>
        <div class="text-1">Thanh toán</div>
      </div>
      <div class="return">
        <img class="size-img-2" src="images/return.png" alt="return bike">
      </div>
    </div>
    <div class="content">
        <div>
            <div>
                <div>Phương thức thanh toán</div>
                <input type="radio" checked disabled>
                <label class="disabled" for="">Thẻ tín dụng</label>
            </div>
            <div>
                <form action="/result" method="post">
                    <label for="card-code">Số thẻ:</label><br>
                    <input type="text" id="card-code" name="cardCode" value="kscq1_group14_2021"><br>
                    <label for="">Tên chủ thẻ:</label><br>
                    <input type="text" name="owner" value="Group 14"><br>
                    <label for="">Ngày hết hạn:</label><br>
                    <input type="text" name="dateExpired" value="1125"><br>
                    <label for="">Mã bảo mật:</label><br>
                    <input type="text" name="cvvCode" value="786">
                    <button type="submit">Xác nhận thanh toán</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</body>
</html>