<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Result</title>
  <style>
    * {
      font-size: 24px;
    }
    .header {
      height: 150px;
      background-color:  #efebe9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 50px;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .text-1 {
      margin-left: 10px;
      font-size: 40px;
      color: rgb(35, 185, 35);
      font-weight: 750;
    }
    .logo > img, button, .return :hover {
      cursor: pointer;
    }
    .size-img-1 {
      height: 80px;
      width: 80px;
    }
    .size-img-2 {
      height: 50px;
      width: 50px;
    }
    .content {
      background-color: rgb(241 241 241 / 57%);
      height: calc(100vh - 150px);
      padding: 10px;
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .content div:first-child {
       font-size: 40px;
       font-weight: 750;
    }
    .success{
      color: green;
    }
    .failed {
      color: red;
    }
    button {
      align-self: center;
      width: fit-content;
      padding: 10px 20px;
      margin-top: 20px;
      background-color: green;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <form action="/home" method="get">
          <button class="logo-btn" type="submit"><img class="size-img-1" src="images/logo.png" alt="logo"></button>
        </form>
        <div class="name-app text-1">EcoBike</div>
        <div class="text-1">|</div>
        <div class="text-1">Kết quả</div>
      </div>
    </div>
    <div class="content">
        <% if(response.error === false) { %>
          <div class="success">Thanh toán thành công</div>
          <div class="success"><%= response.message %></div>
        <% } else { %>
          <div class="failed">Thanh toán thất bại</div>
          <div class="failed"><%= response.message %></div>
        <% } %>
        <form action="/home">
          <button type="submit">OK</button>
        </form>
    </div>
  </div>
</body>
</html>